.App{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 20px; 
}

.heading{
  background-image: url(images/image-hero.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;

}

.about{
  background-color: blue;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.footer{
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
