.App {
  display: grid;
  grid-template-rows: auto; 
  grid-template-columns: 100%;
}

.heading {
  background-image: url(images/image-hero.jpg);
  background-size: cover;
  grid-row: 1;
  width: 100%; 
}

.about {
  background-color: blue;
  grid-row: 2; 
}

.footer {
  background-color: black;
  grid-row: 3;
  width: 100%;
}
