*{
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}
.App {
  display: grid;
  grid-template-rows: auto 1fr auto; 
  grid-template-columns: 100%; 
  grid-gap: 20px; 
  grid-gap: 20px; 
  justify-content: center; 
  align-content: center; 
}

.heading {
  background-image: url(images/image-hero.jpg);
  background-size: cover;
  height: 650px;
  
}
.menu{
  display: none;
}
.display{
  margin-top: 80px;
  margin-right: 25px;
  margin-bottom: 40px;
  margin-left: 40px;
}
svg{
  padding-left: 20px;
}


.about {
  grid-row: 2; 
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
}

.sect2{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sect2-i{
  float: left;
  margin-right: auto;
  padding-left: 70px;
}
.sect2-ii{
  float: right;
  margin-left: auto;
  padding-right: 70px;
  border: 1px solid rgb(202, 201, 201);
}
.box-text{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.footer {
  background-color: black;
  grid-row: 3; 
  width: 100%;
  max-width: 100vw; 
  overflow: hidden;
  color: aliceblue;
  font-family: 'Alata', sans-serif;
  font: weight 70px;
  font-size: small;
  display: grid;
  grid-template-columns: auto;
}
.footer-1{
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  row-gap: 500px;
  justify-content: center;
}
.insta-log{
  display: inline-block;
  letter-spacing: 20px;
}

.looplog{
  float: left; 
  width: 50%;
  margin-right: 100px;
}
a{
  color: aliceblue;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  padding: 0 10px;
}
.links{
  display: flex;
  align-items: center; 
  margin-right: 0 -10px; 
}

.box{
  border: 1px solid rgb(255, 254, 254);
  color: azure;
  width: 500px; 
  height: 260px; 
  margin-top: 150px;
  margin-left: 60px; 
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  
  
}
.box-p{
margin: 15px;
font-size: 65px;
text-align: left;
} 


.photocase1, .photocase2 {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap;
  margin: 0 -20px;
  padding: 0 40px;
}

.photocase1 > *, .photocase2 > * {
  margin: 20px;
}

.imag1{
  background-image: url(images/image-deep-earth.jpg);
  background-size: cover;
  width: 256px;
  height: 450px;
  position: relative; 
}

.imag1::after {
  content: "DEEP EARTH"; 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  text-align: center; 
  color: white; 
  padding: 10px; 
}

.imag2{
  background-image: url(images/image-night-arcade.jpg);
  background-size: cover;
  width: 256px;
  height: 450px;
  position: relative; 
}

.imag2::after {
  content: "NIGHT ARCADE"; 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  text-align: center; 
  color: white; 
  padding: 10px; 
}
.imag3{
  background-image: url(images/image-soccer-team.jpg);
  background-size: cover;
  width: 256px;
  height: 450px;
  position: relative; 
}

.imag3::after {
  content: "SOCCER TEAM VR"; 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  text-align: center; 
  color: white; 
  padding: 10px; 
}

.imag4{
  background-image: url(images/image-grid.jpg);
  background-size: cover;
  width: 256px;
  height: 450px;
  position: relative; 
}

.imag4::after {
  content: "THE GRID"; 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  text-align: center; 
  color: white; 
  padding: 10px; 
}

.imag5{
  background-image: url(images/image-from-above.jpg);
  background-size: cover;
  width: 256px;
  height: 450px;
  position: relative; 
}

.imag5::after {
  content: "FROM UP ABOVE VR";
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  text-align: center; 
  color: white; 
  padding: 10px; 
}
.imag6{
  background-image: url(images/image-pocket-borealis.jpg);
  background-size: cover;
  width: 256px;
  height: 450px;
  position: relative; 
}

.imag6::after {
  content: "POCKET  BOREALIS"; 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  text-align: center; 
  color: white; 
  padding: 10px; 
}

.imag7{
  background-image: url(images/image-curiosity.jpg);
  background-size: cover;
  width: 256px;
  height: 450px;
  position: relative; 
}

.imag7::after {
  content: "THE CURIOSITY"; 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  text-align: center; 
  color: white; 
  padding: 10px; 
}

.imag8{
  background-image: url(images/image-fisheye.jpg);
  background-size: cover;
  width: 256px;
  height: 450px;
  position: relative; 
}

.imag8::after {
  content: "MAKE IT FISHEYE"; 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  text-align: center; 
  color: white; 
  padding: 10px; 
}

.sect1 {
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: center;
  position: relative;
  margin-top: 100px;
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  
}

h3{
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  font-size: 40px;
}
.sect1-a{
  float: right;
}
.sect1-b{
  float: left;
  background-color: #f2f2f2; 
  border: 1px solid #cccccc;
  height: 270px; 
  padding: 10px; 
  position: absolute;
  bottom: 0;
  padding: 2rem;
  right: 5%;
}

sect2{
  display: flex;
}

footer-1{
  display: flex;
  flex-direction: row;
}
.mobi-link{
  display: none;
}

@media only screen and (max-width: 600px) {
  .App {
    display: grid;
    grid-template-rows: auto 1fr auto; 
    grid-template-columns: 100%; 
    grid-gap: 20px; 
    grid-gap: 20px; 
    justify-content: center; 
    align-content: center; 
  }
  
  .heading {
    background-image: url(mobile/image-hero.jpg);
    background-size: cover;
    grid-row: 1; 
    width: 100%;
    height: 1300px;
    
    
  }

  .display{
    margin: 10px;
  }

  .links{
    display: none;
 
  }
  .active {
    display: flex;
    justify-content: space-between;
  }
  .menu{
    /* position: absolute; */
    display: block;
    /* flex-direction: column; */
    top: 0;
    left: 0;
    right: 0;
    /* background-color: white; */
    float: right;
    margin-top: 30px;
    margin-left: 20px;

  }

  .looplog{
    float: left;
    margin-top: 30px;
    margin-right: 20px;
  }

  .box{
    border: 1px solid rgb(255, 254, 254);
    color: azure;
    width: 420px; 
    height: 350px; 
    margin-top: 350px;
    margin-right: auto;
    margin-left: auto; 
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    
    
  }
 .box-p{
  margin: 15px;
  font-size: 65px;
  text-align: left;
 } 
  
  
  .about {
    grid-row: 2; 
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    margin: 20px;
  }
  .sect2-ii{
    display: none;
  }

  .im1{
    width: auto;
    height: auto;
  }
  h3{
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  }
  p{
    font-size: 30px;
    text-align: center; 
  }
  .sect1 {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    height: auto;
    
  }
  
  
  

  .sect1-b{
    margin-top: 50px;
    position:static;
    height: auto;
  }
  .sect2{
    margin-top: 50px;
  }

  .photocase1, .photocase2 {
   display: flex;
   flex-direction: column;
   justify-content: center; 
   align-items: center;
   margin-top: 20px;
   margin-bottom: 20px;
  }
  
 

  .imag1{
    background-image: url(mobile/image-deep-earth.jpg);
    background-size: cover;
    width: 400px;
    height: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .imag1::after {
    content: "DEEP EARTH"; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    text-align: center; 
    color: white; 
    padding: 10px; 
  }
  
  .imag2{
    background-image: url(mobile/image-night-arcade.jpg);
    background-size: cover;
    width: 400px;
    height: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px; 
  }
  
  .imag2::after {
    content: "NIGHT ARCADE"; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    text-align: center; 
    color: white; 
    padding: 10px; 
  }
  .imag3{
    background-image: url(/src/mobile/image-soccer-team.jpg);
    background-size: cover;
    width: 400px;
    height: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .imag3::after {
    content: "SOCCER TEAM VR"; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    text-align: center; 
    color: white; 
    padding: 10px; 
  }
  
  .imag4{
    background-image: url(mobile/image-grid.jpg);
    background-size: cover;
    width: 400px;
    height: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
     
  }
  
  .imag4::after {
    content: "THE GRID"; 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    text-align: center; 
    color: white; 
    padding: 10px; 
  }
  
  .imag5{
    background-image: url(mobile/image-from-above.jpg);
    background-size: cover;
    width: 400px;
    height: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .imag5::after {
    content: "FROM UP ABOVE VR";
    bottom: 0; 
    left: 0; 
    right: 0; 
    text-align: center; 
    color: white; 
    padding: 10px; 
  }
  .imag6{
    background-image: url(mobile/image-pocket-borealis.jpg);
    background-size: cover;
    width: 400px;
    height: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .imag6::after {
    content: "POCKET  BOREALIS";
    bottom: 0; 
    left: 0; 
    right: 0; 
    text-align: center; 
    color: white; 
    padding: 10px; 
  }
  
  .imag7{
    background-image: url(mobile/image-curiosity.jpg);
    background-size: cover;
    width: 400px;
    height: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px; 
  }
  
  .imag7::after {
    content: "THE CURIOSITY";
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    text-align: center; 
    color: white; 
    padding: 10px; 
  }
  
  .imag8{
    background-image: url(mobile/image-fisheye.jpg);
    background-size: cover;
    width: 400px;
    height: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px; 
  }
  
  .imag8::after {
    content: "MAKE IT FISHEYE"; 
    position: absolute;    
    bottom: 0; 
    left: 0; 
    right: 0; 
    text-align: center; 
    color: white; 
    padding: 10px; 
  }

  .mobi-link{
    display: block;
    border: 1px solid rgb(15, 15, 15);
    color: rgb(7, 7, 7);
    width: 400px; 
    height: 50px; 
    font-family: 'Alata', sans-serif;
    font-weight: 400;

  }
.p-link{
  font-size: 25px;
  text-align: center;
}
  
  
  .footer {
    background-color: black;
    grid-row: 3; 
    width: 100%;
    max-width: 100vw; 
    color: aliceblue;
    font-family: 'Alata', sans-serif;
    font-weight: thin;
    font-size: 15px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
  }
#linkmob{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 25px;
}
a{
  margin: 25px;
  font-size: 20px;
}
.footer-1{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 0px;
}
.insta-log{
  margin-bottom: 25px;
}
.copy-right{
  margin-bottom: 50px;
}
.humbemenu{
  background-color: black;
  color: rgb(252, 249, 249);
  display: flex;
  flex-direction: column;
}

.logo{
  display: flex;
  flex-direction: row;
}

.links{
  text-align: left;
}

}